.navbar-dropdown-wrapper:not(.mobile) .navbar-dropdown {
  z-index: 100 !important;
  background-color: #59e7f6;
}

@media (min-width: 1000px) {
  .page {
    padding-right: 0 !important;
  }
}
.page{
}

